/* Page */
body {

    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
}

/* Banner */
.banner {
    width: 100%;
    height: 110px;
    background-color: #1e90ff;
    color: white;
   text-align: center;
}

/* Form section */
form {
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input box */
.box {
    background-color: white; 
    padding: 30px;
    width: 380px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button */
button {
    margin-top: 15px;
    width: 380px;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;

}

button:hover {
    background-color: #187bcd;
}

/* Task list */
ul {
    margin: 30px auto;
    padding: 0;
    width: 500px;
    list-style: none;      
}

li {
    width: 100%;          
    background-color: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 4px;
    text-align: center;  
}

.completed {
    text-decoration: line-through;
    color: gray;
}
